html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 35px;
  display: flex;
  flex-flow: column;
  height: 100%;
}
header {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid #999;
  padding: 10px;
}
footer {
  font-size: 15px;
  text-align: center;
  padding: 20px;
}
a {
  color: black;
}
a:hover {
  cursor: pointer;
}
a:visited {
  color: black;
}
.Button {
  align-self: center;
  background-color: black;
  border-radius: 25px;
  border: solid black 1px;
  color: white;
  font-size: 25px;
  padding: 7px 10px;
  width: 300px;
  cursor: pointer;
}
.Button:hover {
  transform: scale(1.01);
}
.Button:not(:first-of-type) {
  margin-top: 10px;
}
.Button--outlined {
  background-color: white;
  color: black;
}
.Content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}
.Proposal {
  display: flex;
  align-self: center;
  margin: 1em 10px;
  margin-left: 0;
  max-width: 600px;
}
.Proposal-text {
  margin: 0;
}
.Quote {
  color: #aaa;
  align-self: flex-start;
  font-size: 120px;
  position: relative;
  top: -30px;
}
